<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
  <h1 style="">Weather Data API</h1>
  <p>URL format: <b>http://127.0.0.1:5000/api/v1/station/date</b></p>
  <p>For one station and for one date: <b>http://127.0.0.1:5000/api/v1/10/1988-10-25</b></p>
  <p>For one station and for all dates: <b>http://127.0.0.1:5000/api/v1/10</b></p>
  <p>For one station and for one year: <b>http://127.0.0.1:5000/api/v1/yearly/10/1988</b></p>
  <p>{{data|safe}}</p>
</body>
</html>